@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    background-color: var(--primary);
    color: white;

    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    --primary: #003049;
    --secondary: #669BBC;

    --accent: #FDF0D5;
    --accent2: #780000;
    --accent3: #C1121F;

    --green: #29DA0D;
    --dark-green: #128300;
}


/* Background Colors */
.bg-primary {
    background-color: var(--primary);
}
.bg-secondary {
    background-color: var(--secondary);
}
.bg-accent {
    background-color: var(--accent);
}
.bg-accent2 {
    background-color: var(--accent2);
}
.bg-accent3 {
    background-color: var(--accent3);
}
.bg-dark-green {
    background-color: var(--dark-green);
}

/* Transparent Background Colors */
/* This one is created from --secondary: #669BBC;. Will not change to rgb for now. */
.bg-secondary-transparent {
    background-color: rgba(102, 153, 188, 0.20);
}


/* Text Colors */
.text-primary {
    color: var(--primary);
}
.text-secondary {
    color: var(--secondary);
}
.text-accent {
    color: var(--accent);
}
.text-accent3 {
    color: var(--accent3);
}
.text-green {
    color: var(--green);
}

/* Border Colors */
.border-primary {
    border-color: var(--primary);
}
.border-secondary {
    border-color: var(--secondary);
}
.border-accent3 {
    border-color: var(--accent3);
}
.border-green {
    border-color: var(--green);
}


/* Special Border Effects */
.border-top-only {
    border-left: none;
    border-right: none;
    border-bottom: none;
}